<!-- bookDetails.component.html -->
<div class="book-details">
  <div class="topBar">
    <h1>Détails du livre</h1>
    <a href="" role="button" (click)="goToHomePage()">Accueil</a>

  </div>

  <div *ngIf="!isEditing" class="book-info">
    <h2>{{ book.title }}</h2>
    <p class="book-resume">{{ book.resume }}</p>
    <div class="additional-info">
      <p>Auteur: {{ book.authorEmail }}</p>
      <p>Créé le: {{ book.createdAt }}</p>
      <p>Mis à jour le: {{ book.updatedAt }}</p>
    </div>
  </div>

  <div *ngIf="isEditing">
    <label for="title">Titre:</label>
    <input id="title" [(ngModel)]="book.title"/>

    <label for="resume">Résumé:</label>
    <textarea id="resume" [(ngModel)]="book.resume"></textarea>

    <div class="edit">
      <button (click)="confirmEdit()">Confirmer</button>
    </div>
  </div>

  <div class="edit">
    <button *ngIf="isAuthor || isAdmin && !isEditing" role="button"
            (click)="editBook()"> Modifier
    </button>
    <button *ngIf="isAuthor || isAdmin" role="button" (click)="deleteBook()">Supprimer</button>
  </div>

  <h3 class="margin">Pages du livre</h3>

  <ng-container *ngIf="!isAddingPage">
    <div *ngFor="let page of pageList">
      <p>{{ page.title }}</p>
      <p>{{ page.content }}</p>
      <button *ngIf="isAuthor || isAdmin" role="button" (click)="deletePage(page.id)">Supprimer</button>
    </div>
    <button *ngIf="isAuthor || isAdmin" role="button" (click)="addPages()">Ajouter une page</button>
  </ng-container>

  <div *ngIf="isAddingPage">

    <label for="pageTitle">Titre :</label>
    <input id="pageTitle" [(ngModel)]="newPage.title"/>

    <label for="pageContent">Contenu:</label>
    <textarea id="pageContent" [(ngModel)]="newPage.content"></textarea>

    <div class="edit">
      <button (click)="confirmAddPage()">Confirmer</button>
    </div>
  </div>

</div>
