<div>
  <div class="header">
    <h2>Mon profil</h2>

    <div>
      <a role="button" href="#">Retour</a>
      <a role="button" (click)="onLogout" href="/login">Déconnexion</a>
    </div>
  </div>


  <ng-container *ngIf="isLogged">

    <div class="isNotEditing" *ngIf="!isEditing">
      <p>Nom : {{ user.lastName }}</p>
      <p>Prénom : {{ user.firstName }}</p>
      <p>Email : {{ user.email }}</p>
      <p *ngIf="user.role == 1">Rôle : Administrateur</p>
      <p *ngIf="user.role != 1">Rôle : Client</p>
      <button (click)="editUser()" *ngIf="!isEditing">
        Modifier
      </button>
      <button (click)="editUser()" *ngIf="isEditing">
        Confirmer
      </button>
    </div>

    <div *ngIf="isEditing">
      <label for="name">Nom :</label>
      <input id="name" [(ngModel)]="user.lastName"/>

      <label for="surname">Prénom :</label>
      <input id="surname" [(ngModel)]="user.firstName"/>

      <label for="email">Email :</label>
      <input id="email" [(ngModel)]="user.email"/>

      <button (click)="editUser()">
        Confirmer
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLogged">

    <h3>Vous devez être connecté pour accéder au contenu de cette page</h3>

    <button (click)="goToLogin()">Se connecter</button>
  </ng-container>

  <ng-container *ngIf="isAdmin">
    <h3>Catégories</h3>
    <ng-container *ngIf="!isCreatingCategories">
      <div *ngFor="let category of categories">
        <category [value]="category"/>
      </div>
      <button (click)="isCreating()">
        Créer une catégorie
      </button>
    </ng-container>


    <ng-container *ngIf="isCreatingCategories">

      <label for="idCat">Id de catégorie :</label>
      <input id="idCat" [(ngModel)]="category.id"/>

      <label for="labelCat">Label de catégorie :</label>
      <input id="labelCat" [(ngModel)]="category.label"/>
      <button (click)="createCategories()">
        Confirmer
      </button>
    </ng-container>

    <ng-container>
      <h3>Utilisateurs</h3>
      <div *ngFor="let currentUser of users">

        <user [value]="currentUser"/>
      </div>
    </ng-container>
  </ng-container>


</div>
